.__fullview_title{
    font-size: 20px;
    margin: 0;
}
.__fullview_products_wrapper a:hover{
    cursor: pointer;
    text-decoration: underline!important;
}
.__fullview_separator{
    border-bottom: 1px solid #dfdfdf;
}
.__fullview_price span{
    font-size: 20px;
    font-weight: bold;
    color: #B12704;
}
.__fullview_vat_note{
    margin: -1rem 0 0 4rem;
}
.__fullview_bold_note {
    font-weight: bold;
    font-size: 17px;
}
.__fullview_ishop_facts{
    border: 1px solid #dfdfdf;
    background: #dfdfdf;
    border-radius: 5px;
}
.__fullview_ishop_facts i {
    font-size: 12px;
    margin-right: 1rem;
}
.__fullview_action_btns{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.__fullview_action_btns div{
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.__fullview_product_description{
    margin-top: 3rem;
}
